<!doctype html>
<html lang="<!-- tparts_lang -->">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<!-- tparts_url_stylesheet -->" rel="stylesheet">
    <link rel="icon" href="<!-- tparts_url_icon -->" type="image/svg+xml">
    <title><!-- tparts_title_prefix --><!-- tparts_title --></title>
    <link rel="canonical" href="https://<!-- tparts_domain --><!-- tparts_path -->">
    <meta name="author" content="<!-- tparts_author -->">
    <meta name="description" content="<!-- tparts_description -->">
    <meta name="keywords" content="<!-- tparts_keywords -->">
    <meta property="og:description" content="<!-- tparts_description -->">
    <meta property="og:image" content="<!-- tparts_url_image_social -->">
    <meta property="og:site_name" content="<!-- tparts_og_site_name -->">
    <meta property="og:title" content="<!-- tparts_title_prefix --><!-- tparts_title -->">
    <meta property="og:type" content="<!-- tparts_og_content_type -->">
    <meta property="og:url" content="https://<!-- tparts_domain --><!-- tparts_path -->">
    <meta property="twitter:description" content="<!-- tparts_description -->">
    <meta property="twitter:domain" content="<!-- tparts_domain -->">
    <meta property="twitter:image" content="<!-- tparts_url_image_social -->">
    <meta name="twitter:image:alt" content="<!-- tparts_twitter_alt_image_social -->">
    <meta name="twitter:card" content="<!-- tparts_twitter_card -->">
    <meta property="twitter:title" content="<!-- tparts_title_prefix --><!-- tparts_title -->">
    <meta property="twitter:url" content="https://<!-- tparts_domain --><!-- tparts_path -->">
    <!-- tparts_head_children.html -->
  </head>
  <body>
    <!-- tparts_body_children.html -->
  </body>
</html>
