:root {
  --bg-color-pre: #00000009;
  --border-color-hr: #00000011;
  --border-radius-pre: 0.185em;
  --grid-gap: 1em;
  --li-indent-width: clamp(1.35em, 1.6em, 7vw);
  --paragraph-width: 40rem;
  --rem-size: clamp(1.2rem, 2.2vw, 1.95rem);
  --font-size-pre: calc(var(--rem-size) * 0.8125);
  --line-height: 1.5;
  --line-height-em: calc(var(--line-height) * 1em);
  --inline-symbol-margin-top: calc(calc(var(--line-height-em) - 0.85em) / 2);
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-pre: #ffffff09;
    --border-color-hr: #ffffff11;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--rem-size);
  font-family: serif;
  margin: 0;
  padding: 2em 0.75em 5em 0.75em;
  line-height: var(--line-height);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1c1b22;
    color: #f3f3f6;
  }
}

a {
  color: blue;
}

a:focus {
  color: red;
}

@media (prefers-color-scheme: dark) {
  a {
    color: #8c8cff;
  }

  a:focus {
    color: #ff6666;
  }
}

a[target='_blank']::after {
  content: '';
  background: url('./new_tab_light.svg');
  background-size: 3em;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--inline-symbol-margin-top);
  margin-left: 0.1em;
}

a[target='_blank']:visited::after {
  background-position: -1em 0;
}

a[target='_blank']:focus::after {
  background-position: -2em 0;
}

@media (prefers-color-scheme: dark) {
  a[target='_blank']::after {
    background-image: url('./new_tab_dark.svg');
  }
}

@media print {
  a[target='_blank']::after {
    content: none;
  }
}

body,
nav,
main,
section,
article,
ul,
ol,
li {
  display: grid;
  grid-row-gap: var(--grid-gap);
}

ul {
  grid-row-gap: calc(0.5 * var(--grid-gap));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

h1 {
  font-weight: bold;
}

main {
  margin-top: calc(2 * var(--grid-gap));
  margin-bottom: calc(2 * var(--grid-gap));
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
nav,
hr,
pre,
ul.inline-list-sep,
ul.inline-list-spread {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  max-width: var(--paragraph-width);
}

hr {
  position: relative;
  border: none;
  border-bottom: 0.1em solid var(--border-color-hr);
  max-width: calc(var(--paragraph-width) * 0.54);
  margin-bottom: calc(0.5 * var(--grid-gap));
  margin-top: calc(0.5 * var(--grid-gap));
}

h1 {
  margin-bottom: var(--grid-gap);
}

h2 {
  margin-top: calc(0.5 * var(--grid-gap));
}

ul {
  list-style-type: none;
  padding: 0;
  position: relative;
}

ul li {
  padding-left: var(--li-indent-width);
  position: relative;
}

ul li::before {
  content: '';
  background: url('./bullet_light.svg');
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: var(--inline-symbol-margin-top);
  left: 0;
}

@media (prefers-color-scheme: dark) {
  ul li::before {
    background-image: url('./bullet_dark.svg');
  }
}

@media print {
  ul li::before {
    background: url('./bullet_light.svg');
    print-color-adjust: exact;
  }
}

ul.inline-list-sep {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: initial;
}

ul.inline-list-sep li {
  padding: 0;
  margin: 0;
  display: inline;
  width: unset;
}

ul.inline-list-sep li::before {
  content: none;
}

ul.inline-list-sep li:not(:last-child)::after {
  content: '';
  background: url('./dot_light.svg');
  print-color-adjust: exact;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: var(--inline-symbol-margin-top);
  margin-right: 0.22em;
  margin-left: 0.22em;
}

@media (prefers-color-scheme: dark) {
  ul.inline-list-sep li:not(:last-child)::after {
    background-image: url('./dot_dark.svg');
  }
}

@media print {
  ul.inline-list-sep li:not(:last-child)::after {
    background: url('./dot_light.svg');
    print-color-adjust: exact;
  }
}

ul.inline-list-spread {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2.25em;
}

ul.inline-list-spread li {
  padding: 0;
  margin: 0;
  display: inline;
  width: unset;
}

ul.inline-list-spread li::before {
  content: none;
}

.nowrap {
  white-space: nowrap;
}

pre,
code {
  font-size: var(--font-size-pre);
}

pre {
  overflow-x: scroll;
  padding: 1em;
  background-color: var(--bg-color-pre);
  border-radius: var(--border-radius-pre);
}

code {
  padding: 0.175em 0.3125em;
  background-color: var(--bg-color-pre);
  border-radius: var(--border-radius-pre);
}

pre code {
  padding: 0;
  background-color: initial;
  border-radius: 0;
}

@page {
  margin: 1cm;
}

@media print {
  body {
    padding: 0;
    font-size: 1.1em;
  }

  main {
    margin-top: 1.5cm;
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  nav,
  hr,
  pre,
  ul.inline-list-sep,
  ul.inline-list-spread {
    max-width: 75vw;
  }

  pre,
  code {
    padding: 0;
    background-color: initial;
    border-radius: 0;
    font-size: 1em;
  }

  pre {
    white-space: pre-wrap;
  }

  .nav-top,
  .nav-bottom {
    display: none;
  }
}
