:root {
  --bg-color: #ffffff;
  --bg-color-pre: #00000009;
  --border-color-hr: #00000011;
  --text-color: #000000;
  --text-color-link: blue;
  --text-color-link-active: red;
  --text-color-link-visited: purple;
  --border-radius-outline: 0.0125em;
  --border-radius-pre: 0.185em;
  --grid-gap: 1em;
  --li-indent-width: clamp(1.35em, 1.45em, 7vw);
  --paragraph-width: 40rem;
  --rem-size: clamp(1.2rem, 2.2vw, 1.95rem);
  --font-size-pre: calc(var(--rem-size) * 0.8125);
  --line-height: 1.65;
  --line-height-em: calc(var(--line-height) * 1em);
  --line-height-nav-inline: calc(var(--line-height) * 1.33333333);
  --inline-symbol-margin-top: calc(calc(var(--line-height-em) - 1em) / 2);
  --url-icon-new-tab: url('./new_tab_light.svg');
  --url-icon-bullet: url('./bullet_light.svg');
  --url-icon-dot: url('./dot_light.svg');
  --color-focus-outline: #00000080;
  --underline-thickness: 0.04em;
  --underline-offset: 0.175em;
  --underline-thickness-hover: 0.1115em;
  --bg-color-tooltip: var(--text-color);
  --text-color-tooltip: var(--bg-color);
  --padding-tooltip: 0.175em 0.5em;
  --border-radius-tooltip: 0.185em;
  --border-tooltip: 0.1em solid var(--bg-color);
  --position-left-tooltip: 0;
  --position-top-tooltip: calc(1.25 * var(--line-height-em));
  --font-size-tooltip: calc(var(--rem-size) * 0.8125);
  --position-tooltip: absolute;
  --width-tooltip: auto;
  --white-space-tooltip: nowrap;
  --max-width-tooltip: 100vw;
  --z-index-tooltip: 1;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1c1b22;
    --bg-color-pre: #ffffff09;
    --border-color-hr: #ffffff11;
    --text-color: #f3f3f6;
    --text-color-link: #8c8cff;
    --text-color-link-active: #ff6666;
    --text-color-link-visited: #ffadff;
    --color-focus-outline: #f3f3f680;
    --url-icon-new-tab: url('./new_tab_dark.svg');
    --url-icon-bullet: url('./bullet_dark.svg');
    --url-icon-dot: url('./dot_dark.svg');
  }
}

*:focus {
  outline: var(--color-focus-outline) solid 0.1em;
  outline-offset: 0.2em;
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--rem-size);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2em 0.75em 5em 0.75em;
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--text-color-link);
  text-decoration-thickness: var(--underline-thickness);
  text-underline-offset: var(--underline-offset);
  border-radius: var(--border-radius-outline);
}

a:visited {
  color: var(--text-color-link-visited);
}

@media print {
  a:visited {
    color: var(--text-color-link);
  }
}

.nav-top a:visited,
.nav-bottom a:visited {
  color: var(--text-color-link);
}

a:active,
a:visited:active {
  color: var(--text-color-link-active);
}

a:hover {
  text-decoration-thickness: var(--underline-thickness-hover);
}

a[target='_blank']::after,
a[href^='mailto:']::after,
a[href^='tel:']::after {
  content: '';
  background: var(--url-icon-new-tab);
  display: inline-block;
  width: 1em;
  height: var(--line-height-em);
  vertical-align: middle;
  margin-left: 0.1em;
  opacity: 0.5;
}

@media print {
  a[target='_blank']::after,
  a[href^='mailto:']::after,
  a[href^='tel:']::after {
    content: none;
    opacity: initial;
  }
}

abbr {
  position: relative;
  text-decoration-style: dotted;
  text-decoration-thickness: var(--underline-thickness);
  text-underline-offset: var(--underline-offset);
  border-radius: var(--border-radius-outline);
  cursor: help;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  position: var(--position-tooltip);
  top: var(--position-top-tooltip);
  left: var(--position-left-tooltip);
  width: var(--width-tooltip);
  max-width: var(--max-width-tooltip);
  white-space: var(--white-space-tooltip);
  background-color: var(--bg-color-tooltip);
  color: var(--text-color-tooltip);
  border-radius: var(--border-radius-tooltip);
  border: var(--border-tooltip);
  padding: var(--padding-tooltip);
  font-size: var(--font-size-tooltip);
  z-index: var(--z-index-tooltip);
}

body,
nav,
main,
section,
article,
ul,
ol,
li {
  display: grid;
  grid-row-gap: var(--grid-gap);
}

ul {
  grid-row-gap: calc(0.75 * var(--grid-gap));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

h1 {
  font-weight: bold;
}

main {
  margin-top: calc(4 * var(--grid-gap));
  margin-bottom: calc(4 * var(--grid-gap));
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
nav,
hr,
pre,
ul.inline-list-sep,
ul.inline-list-spread {
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  max-width: var(--paragraph-width);
}

nav .inline-list-sep,
nav .inline-list-spread {
  line-height: var(--line-height-nav-inline);
}

hr {
  position: relative;
  border: none;
  border-bottom: 0.1em solid var(--border-color-hr);
  max-width: calc(var(--paragraph-width) * 0.54);
  margin-bottom: calc(0.5 * var(--grid-gap));
  margin-top: calc(0.5 * var(--grid-gap));
}

h1 {
  margin-bottom: var(--grid-gap);
}

h2 {
  margin-top: calc(0.5 * var(--grid-gap));
}

ul {
  list-style-type: none;
  padding: 0;
  position: relative;
}

ul li {
  padding-left: var(--li-indent-width);
  position: relative;
}

ul li::before {
  content: '';
  background: var(--url-icon-bullet);
  display: inline-block;
  width: 1em;
  height: var(--line-height-em);
  position: absolute;
  top:0;
  left: 0;
}

@media print {
  ul li::before {
    print-color-adjust: exact;
  }
}

ul.inline-list-sep {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: initial;
}

ul.inline-list-sep li {
  padding: 0;
  margin: 0;
  display: inline;
  width: unset;
}

ul.inline-list-sep li::before {
  content: none;
}

ul.inline-list-sep li:not(:last-child)::after {
  content: '';
  background: var(--url-icon-dot);
  print-color-adjust: exact;
  display: inline-block;
  width: 1em;
  height: var(--line-height-em);
  vertical-align: middle;
  margin-right: 0.15em;
  margin-left: 0.15em;
  opacity: 0.275;
}

@media print {
  ul.inline-list-sep li:not(:last-child)::after {
    print-color-adjust: exact;
    opacity: initial;
  }
}

ul.inline-list-spread {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2.25em;
}

ul.inline-list-spread li {
  padding: 0;
  margin: 0;
  display: inline;
  width: unset;
}

ul.inline-list-spread li::before {
  content: none;
}

pre,
code {
  font-size: var(--font-size-pre);
}

pre {
  overflow-x: scroll;
  padding: 1em;
  background-color: var(--bg-color-pre);
  border-radius: var(--border-radius-pre);
}

code {
  padding: 0.175em 0.3125em;
  background-color: var(--bg-color-pre);
  border-radius: var(--border-radius-pre);
}

pre code {
  padding: 0;
  background-color: initial;
  border-radius: 0;
}

.nowrap {
  white-space: nowrap;
}

@page {
  margin: 1cm;
}

@media print {
  body {
    padding: 0;
    font-size: 1em;
  }

  main {
    margin-top: 1.5cm;
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  nav,
  hr,
  pre,
  ul.inline-list-sep,
  ul.inline-list-spread {
    max-width: 70vw;
  }

  pre,
  code {
    padding: 0;
    background-color: initial;
    border-radius: 0;
    font-size: 1em;
  }

  pre {
    white-space: pre-wrap;
  }

  .nav-top,
  .nav-bottom {
    display: none;
  }
}
